@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}
.square {
  background: oklch(96.2% .018 272.314);
  border-radius: 5px;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin: 4px;
  padding: 0;
  text-align: center;
  width: 64px;  
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-info {
  margin-left: 50px;
}
